#telia-graph {
    width: 200px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content:space-between;
}

.heatmaps {
  display: flex;
  justify-content:center;
}

.slider {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
